// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//color - light
$primary-text-color: #020812;
$primary-background-color: #f1f5fe;
$primary-style-color: #4c82f6;
$secondary-style-color: #bddaa4;
$accent-color: #f08c00;
