@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button-popup {
  position: absolute;
  bottom: 1rem;
  z-index: 110;
  @include tablet {
    display: none;
  }
  &__title {
    text-align: center;
    background-color: $primary-background-color;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  &__icon {
    margin-right: 0.5rem;
  }
}
