@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload {
  padding: 1rem;
  border-bottom: 2px solid #4c82f61a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  @include tablet {
    padding: 1rem 14rem;
    width: 100%;
  }
  &__input {
    display: none;
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    object-fit: contain;
  }
  &__button {
    &--hidden {
      display: none;
    }
  }
}
