@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.search-container {
  width: 100%;
  position: relative;
}

.search {
  position: absolute;
  display: flex;
  width: 100%;
  background-color: $primary-background-color;
  gap: 2rem;
  padding: 0.5rem;
  box-shadow: 0px 2px 5px 0px #0208124d;

  &__img {
    width: 3rem;
    object-fit: cover;
    border-radius: 5px;
    padding: 0.2rem;
  }
}
