@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background-color: $primary-style-color;
  z-index: 1000;
  position: sticky;
  top: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-style-color;
    padding: 1rem 1rem;
    position: relative;
    @include tablet {
      padding: 1rem 2rem;
    }
    @include desktop {
      width: 1280px;
      margin: 0 auto;
    }
  }
  &__logo {
    width: 9rem;
    z-index: 101;
  }
}
