@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-style-color;
  padding: 0.5rem 1rem;
  position: relative;
  @include desktop {
    width: 1120px;
    margin: 0 auto;
  }
  &__logo {
    width: 9rem;
    z-index: 101;
  }
}
