@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.planning {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
