@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.planning {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__tablet {
    display: none;
    @include tablet {
      display: flex;
      flex-direction: column;
      width: 35%;
      height: 100%;
    }
  }
  &__tablet-dropdown {
    display: none;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }
  }
}
