@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.planner {
  position: absolute;
  background-color: $primary-background-color;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  top: 0rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
  }
  &__site-name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button {
    position: absolute;
    bottom: 1rem;
  }
}
