@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.mapbox {
  width: 100vw;
  height: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;

  &__flyto {
    padding: 1rem;
    // margin: 1rem;
    background-color: $primary-background-color;
    border-radius: 5px;
  }
  &__destination {
    display: flex;
    justify-content: space-between;
  }
  &__destination-title {
    margin: 0;
    margin-bottom: 1rem;
  }
  &__radio-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__radio {
    @include text-style(0.75rem, 0.88rem);
  }
}

body::-webkit-scrollbar {
  display: none;
}
