@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.mapbox {
  width: 100vw;
  height: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;

  &__flyto {
    padding: 1rem;
    background-color: $primary-background-color;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__destination {
    display: flex;
    justify-content: space-between;
  }
  &__destination-title {
    width: 50%;
    margin: 0.5rem 0;
  }
  &__destination-select {
    margin: 0;
    margin-bottom: 1rem;
    width: 50%;
  }
}

body::-webkit-scrollbar {
  display: none;
}
