@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  &__img {
    width: 5rem;
    border-radius: 5px;
  }
}
