@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.social {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__post {
    @include tablet {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
