@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.social {
  @include tablet {
    display: flex;
    justify-content: space-between;
    height: 92%;
  }
  @include desktop {
    width: 1020px;
    margin: 0 auto;
  }
  &__profile-upload {
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 35%;
      border-right: 2px solid #4c82f61a;
    }
  }
  &__profile {
    display: none;
    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
  }
  &__post {
    @include tablet {
      width: 65%;
      height: 100%;
      overflow: scroll;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    @include desktop {
      border-right: 2px solid #4c82f61a;
    }
  }
}
